<html>
 <head>
  <title>NutriStock - faça seu registro aqui</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link rel="shortcut icon" href="/app/static/images/logo/icone_transparente.ico" type="image/x-icon">
  <link rel="stylesheet" href="/app/static/css/cadastro.css">
 </head>
 <body>
  <div class="container">
   <h1>
    NUTRISTOCK
   </h1>
   <img alt="Nutristock logo" height="50" src="/app/static/images/logo/logo_transparente.png" width="50"/>
   <h2>
    CADASTRE-SE
   </h2>
   <div class="input-group">
    <i class="fas fa-user">
    </i>
    <input placeholder="Nome" type="text"/>
   </div>
   <div class="input-group">
    <i class="fas fa-envelope">
    </i>
    <input placeholder="Email" type="email"/>
   </div>
   <div class="input-group">
    <i class="fas fa-lock">
    </i>
    <input placeholder="Senha" type="password"/>
   </div>
   <button>
    REGISTRAR
   </button>
   <div class="login-link">
    Já tem uma conta? <a href="/app/templates/main/login.html">Faça login</a>
   </div>
  </div>
 </body>
</html>