<html>
<head>
    <title>Visualizar Estoque</title>
    <link rel="stylesheet" href="/app/static/css/estoque_show.css">
    <link rel="shortcut icon" href="/app/static/images/logo/icone_transparente.ico" type="image/x-icon">
</head>
<body>
    <div class="menu" onclick="openNav()">&#9776;</div>
    <div id="myNav" class="nav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="home.html">Home</a>
        <a href="estoque_add.html">Adicionar Itens ao Estoque</a>
        <a href="imc.html">Calculadora de IMC</a>
        <a href="#">Página 4</a>
    </div>
    <div class="container">
        <div class="title">ESTOQUE</div>
        <table>
            <tr>
                <th>quantidade</th>
                <th>produto</th>
                <th>categoria</th>
                <th>data de validade</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0";
        }
    </script>
</body>
</html>