<html>
 <head>
  <title>
   NutriStock
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/app/static/css/home.css">
  <link rel="shortcut icon" href="/app/static/images/logo/icone_transparente.ico" type="image/x-icon">
 </head>
 <body>
  <h1>
   NUTRISTOCK
  </h1>
  <div class="container">
   <div class="item">
    <a href="estoque_add.html"><img alt="Icon of a box with the text 'ADD ITEM' below it" height="100" src="/app/static/images/assets/plus.png" width="100"/></a>
    <p>
     ADD ITEM
    </p>
   </div>
   <div class="item">
    <a href="estoque_show.html"><img alt="Icon of a box with the text 'SHOW ITEMS' below it" height="100" src="/app/static/images/assets/box.png" width="100"/></a>
    <p>
     SHOW ITEMS
    </p>
   </div>
   <div class="item">
    <a href="imc.html"><img alt="Icon of a dumbbell with the text 'IMC CALCULATOR' below it" height="100" src="/app/static/images/assets/dumbell.png" width="100"/></a>
    <p>
     IMC CALCULATOR
    </p>
   </div>
   <div class="item">
    <a href="#settings"><img alt="Icon of gears with the text 'SETTINGS' below it" height="100" src="/app/static/images/assets/settings.png" width="100"/></a>
    <p>
     SETTINGS
    </p>
   </div>
  </div>
 </body>
</html>
