<html>
 <head>
  <title>
   Calcular Indice de Massa Corporal
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/app/static/css/imc.css">
  <link rel="shortcut icon" href="/app/static/images/logo/icone_transparente.ico" type="image/x-icon">
  <script>
   function toggleMenu() {
            var menu = document.getElementById('menu');
            if (menu.style.display === 'block') {
                menu.style.display = 'none';
            } else {
                menu.style.display = 'block';
            }
        }

        function goToSettings() {
            window.location.href = '#settings'; // Replace with the actual settings page URL or logic
        }
  </script>
 </head>
 <body>
  <i class="fas fa-bars menu-icon" onclick="toggleMenu()">
  </i>
  <i class="fas fa-cogs settings-icon" onclick="goToSettings()">
  </i>
  <div class="container">
   <div class="header">
    <h1>
     Calculadora de IMC
    </h1>
    <img alt="Box Icon" height="50" src="/app/static/images/assets/dumbell.png" width="50"/>
   </div>
   <div class="menu" id="menu">
    <a href="home.html">
     Home
    </a>
    <a href="estoque_add.html">
     Adicionar Itens
    </a>
    <a href="estoque_show.html">
     Visualizar Estoque
    </a>
   </div>
   <div class="input-container">
    <img alt="Ruler Icon" height="30" src="/app/static/images/assets/ruler.png" width="30"/>
    <input placeholder="Altura em metros" type="text"/>
   </div>
   <div class="input-container">
    <img alt="Balança Icon" height="30" src="/app/static/images/assets/balanca.png" width="30"/>
    <input placeholder="Peso em quilos" type="text"/>
   </div>
  </div>
 </body>
</html>