<html>
 <head>
  <title>
   Nutristock - acesse sua conta aqui
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <link rel="shortcut icon" href="/app/static/images/icone_transparente.ico" type="image/x-icon">
  <link rel="stylesheet" href="/app/static/css/login.css">
 </head>
 <body>
  <div class="container">
   <h1>
    BEM-VINDO
   </h1>
   <h2>
    AO
   </h2>
   <div class="logo">
    <h3>
     NUTRISTOCK
    </h3>
    <img alt="nutristock-logo" height="50" src="/app/static/images/logo_transparente.png" width="50"/>
   </div>
   <div class="input-container">
    <i class="fas fa-envelope">
    </i>
    <input placeholder="Email" type="text"/>
   </div>
   <div class="input-container">
    <i class="fas fa-lock">
    </i>
    <input placeholder="Senha" type="password"/>
   </div>
   <div class="forgot-password">
    <a href="">ESQUECEU A SENHA?</a>
   </div>
   <div class="login-button">
    <i class="fas fa-arrow-right">
    </i>
    <span>
     ENTRAR
    </span>
   </div>
   <div class="register">
    Não possui conta? <a href="/app/templates/main/cadastro.html">Registre-se</a>
   </div>
  </div>
 </body>
</html>